@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	background-color: #0080ff;
}

.content {
	text-align: center;
}

h1{
	padding-top: 30%;
	color: #fff;
	font-family: "Roboto";
}

#pinBox {
	text-align: center;
	margin-bottom: 1%;
}

span {
	color: yellow;
	font-weight: bold;
}

#submit, #pinBox{
	border-radius: 4px;
	border-style: none;
}

#submit {
	background-color: #222;
	color: white;
}
